<% if @users.empty? %>
  <h1>No Users</h1>
<% else %>
  
  <h1>Emails of all Users click to see more detail  </h1>
    <% @users.each do |user| %>
      <li><%= link_to user.email, customer_path(user) %></li>
    <% end %>
 
<% end %>
