<h1>Users Profile</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Username</th>
      <th scope="col">Email Address</th>
      <th scope="col">Action</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>@user.id </th>
      <td>@user.username</td>
      <td>@user.email</td>
      <td>
      <%= link_to "Edit", edit_user_registration_path%>
      <%
=begin%>
 <%= link_to "delete",delete_user_path%> 
<%
=end%>
      </td>

      
    </tr>
    
  </tbody>
</table>

