<% if @orders.empty? %>
  <h1>No Order</h1>
<% else %>
  <h1>Emails of all Customer Orders click Order_id to see more detail  </h1>
  <table class="table table-striped">
    <thead>

      <tr>
        <td scope="col">Order id</td>
        <td scope="col">Customer</td>
        <td scope="col">Email</td>
      </tr>

    </thead>
    <tbody>

      <% @orders.each do |order| %>
        <tr>
        <td>
            <%= link_to order.order_number, order_path(order) %>
          </td>
          <td>
            <%= order.user.username %>
          </td>
          <td>
            <%= order.user.email %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>
