<div class="container mt-4">
  <h1 class="display-4">Your Shopping Cart</h1>
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Delete</th>
        <th scope="col">Product Id</th>
        <th scope="col">Image</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody class="cart-items">
      <%= render partial: 'cart_item', collection: @cart.line_items, as: 'line_item' %>
    </tbody>
  </table>
  <div class="total-price-section">
    <h4>Total Price:</h4>
    <p><%= number_to_currency(@cart.line_items.sum { |line_item| line_item.price * line_item.quantity }) %></p>
  </div>
  <%= link_to 'Continue Shopping', products_path, class: 'btn btn-primary btn-continue-shopping' %>
  <%= link_to 'Checkout', new_order_path, class: 'btn btn-primary btn-continue-shopping' %>
</div>
