/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.product-image {
	max-width: 100%;
	height: auto;
}
.user-details {
	display: flex;
	align-items: center;
	color: white;
}
.user-icon {
	background-color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.icon-black {
	color: black;
	font-size: 20px;
}
body{margin-top:20px;
	background-color:#eee;
	}
	
	.card {
			box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
	}
	.card {
			position: relative;
			display: flex;
			flex-direction: column;
			min-width: 0;
			word-wrap: break-word;
			background-color: #fff;
			background-clip: border-box;
			border: 0 solid rgba(0,0,0,.125);
			border-radius: 1rem;
	}