/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.product-image {
	max-width: 100%;
	height: auto;
}
.user-details {
	display: flex;
	align-items: center;
	color: white;
}
.user-icon {
	background-color: white;
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.icon-black {
	color: black;
	font-size: 20px;
}
body{margin-top:20px;
	background-color:#eee;
}
.card {
	box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0 solid rgba(0,0,0,.125);
	border-radius: 1rem;
}
.login-container {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin-top: 150px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	height: 100vh;
	margin-top: 50px;
	align-items: center;
	color: #000000;
}
h2 {
	text-align: center;
}
.form-control {
  border: 2px solid #007BFF;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}
.field label {
	display: block;
}
.actions {
	text-align: center;
}
.apple_pagination {
	background: rgb(229, 229, 236);
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 1em;
	border-radius: 15px;
  cursor: default; 
}
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
	margin: 0.2em;  
}
.apple_pagination .disabled {
  color: #aaaaaa; 
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
}
.apple_pagination a {
  text-decoration: none;
  color: black; 
}
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; 
}
.overlay {
  position: absolute; 
}
.overlay_0 {
	margin-top: 90%;
	width: 100%;
  background: #f42020;
}
